div#games, div#differences {
    width: 250px;
}
div.games-title, div.differences-title {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
}
div.differences-row {
    display: flex;
    justify-content: space-between;
}
div.differences-row div.winner {
    color: purple;
    font-weight: bold;
}
div.games-label {
    width: 125px;
}
div.individual-game {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
