nav ul {
    padding: 0px;
}
nav ul li {
    display: inline;
    padding: 10px;
}
div#games, div#differences, div#stats {
    width: 250px;
}
div.games-title, div.differences-title, div.stats-title {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
}
div.differences-row, div.stats-row {
    display: flex;
    justify-content: space-between;
}
div.differences-row div.winner {
    color: purple;
    font-weight: bold;
}
div.games-label {
    width: 125px;
}
div.individual-game {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
div.stats-winner {
    text-transform: capitalize;
}
