body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #013369;
}
nav {
    display: grid;
    grid-template-columns: 100px max-content;
    grid-template-rows: auto auto;
    align-items: center;
}
nav img.nfl-logo {
    grid-column: 1;
    grid-row: 1 / span 2;
    width: 100px;
    height: 100px;
}
div.season-header {
    grid-column: 2;
    grid-row: 1;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #013369;
}
nav ul {
    grid-column: 2;
    grid-row: 2;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}
nav ul li {
    display: inline;
    padding: 10px;
}
div#games, div#differences, div#stats {
    padding-top: 10px;
    width: 390px;
}
div#performance {
    padding-top: 25px;
    width: 250px;
}
div.games-title, div.differences-title, div.stats-title, div.performance-title {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    color: #D50A0A;
}
div.differences-row, div.stats-row, div.performance-row {
    display: flex;
    justify-content: space-around;
}
div.performance-title div, div.performance-row div {
    width: 33%;
    text-align: center;
}
div.differences-row div.winner, div.performance-row div.winner {
    color: purple;
    font-weight: bold;
}
div.games-label {
    width: 140px;
}
div.individual-game {
    width: 100%;
    display: grid;
    grid-template-columns: 140px 140px 110px;
    align-items: center;
}
div.game-visitor, div.game-home {
    display: flex;
    align-items: center;
}
div.game-home {
    justify-content: flex-end;
}
span.game-note {
    font-size: 0.8em;
    color: #888;
    font-style: italic;
    padding-left: 5px;
}
div.stats-winner {
    text-transform: capitalize;
}

label.form-label {
    font-weight: bold;
    color: #D50A0A;
}
section {
    padding-top: 10px;
    width: 400px;
    padding-left: 50px;
}
div.form-div {
    display: flex;
    justify-content: space-between;
    width: 300px;
}
div#error {
    color: red;
    font-weight: bold;
    padding-top: 5px;
}
a:hover, a:visited, a:active {
    color: #013369;
}
div.stats-title div, div.stats-row div {
    width: 20%;
    text-align: center;
}
